@import 'tailwindcss';

@theme inline {
	--color-background: var(--background);
	--color-border: var(--border);
	--color-ring: var(--ring);
	--color-text: var(--text);
	--color-text-secondary: var(--text-secondary);
	--color-text-tertiary: var(--text-tertiary);
	--font-sans: var(--font-inter);
}

:root {
	--background: oklch(0.97 0.012 85);
	--border: oklch(0.88 0.02 85);
	--ring: oklch(0.7 0.015 286.067);
	--text: oklch(0.18 0.008 85);
	--text-secondary: oklch(0.45 0.012 85);
	--text-tertiary: oklch(0.62 0.012 85);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-text;
	}
}
